@import 'jeet'

brand = tomato
white = #f7f7f7
black = #333333

font-special = 'Amaranth', sans-serif

body
    background white
    color black

.intro
    background brand
    height 100%
    width 100%
    color white
    align()

    &__content
        align()

    &__title
        font-family font-special
        color white
        text-transform uppercase
        font-size 72px
        letter-spacing 2px
        margin 0
        line-height 1
        text-align center
