brand = tomato
white = #f0f0f0
black = #303030

font-brand   = 'PT Sans', sans-serif
font-special = 'Amaranth', sans-serif

@import 'jeet'
@import 'datepicker'
@import 'city'
@import 'planner'
@import 'timeline'

body
    margin 0
    background white
    color black
    font-family font-brand
    //background: url('pexels-photo.jpg') center center no-repeat
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(brand, 0.2)), color-stop(100%,rgba(brand, 0.3))), url('pexels-photo.jpg') bottom center no-repeat;
    background-attachment: fixed;

.intro
    center(400px)
    text-align center

    &__title
        font-family font-special
        color white
        text-transform uppercase
        font-size 62px
        letter-spacing 3px
        margin 0
        line-height 1
        text-align center
        margin-top 100px
        margin-bottom 20px
        text-shadow 1px 1px 0 darken(white, 33%),
                    2px 2px 0 darken(white, 33%),
                    3px 3px 0 darken(white, 33%)

.footer
    color black
    position absolute
    bottom 10px
    display block
    text-align center
    width 100%
    vertical-align middle

    p
        display inline-flex
        font-size 12px
        margin 0

    i
        font-size 14px
        margin 0 3px

.col-50
    column(1/2)
.col-33
    column(1/3)
.col-66
    column(2/3)
.col-25
    column(1/4)
.col-75
    column(3/4)

.go-btn
    color white
    background brand
    text-decoration none
    border none
    font-size 20px
    text-transform uppercase
    font-family font-brand
    font-weight bold
    display inline-block
    transition all 0.25s ease
    width 100%
    text-align center
    height 60px
    line-height 60px
    position relative
    text-align center
    vertical-align middle
    font-size 0

    &:hover
        background lighten(brand, 20%)

    span
        font-size 20px
        padding-left 10px

    i
        font-size 28px
        position relative
        top 7px
        line-height 25px
