brand = tomato
white = #f0f0f0
black = #303030

font-brand   = 'PT Sans', sans-serif
font-special = 'Amaranth', sans-serif

@import 'jeet'
@import 'datepicker'
@import 'city'
@import 'planner'
@import 'timeline'

body
    margin 0
    background white
    color black
    font-family font-brand
    //background: url('pexels-photo.jpg') center center no-repeat
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(brand, 0.2)), color-stop(100%,rgba(brand, 0.3))), url('pexels-photo.jpg') center center no-repeat;

.intro

    &__content
        center(400px)

    &__title
        font-family font-special
        color white
        text-transform uppercase
        font-size 64px
        letter-spacing 2px
        margin 0
        line-height 1
        text-align center
        margin-top 100px
        text-shadow 2px 2px 0 darken(white, 33%)

p.footer
    color black
    position absolute
    margin 0
    bottom 10px
    display block
    text-align center
    width 100%
    font-size 12px

.date-from, .date-to
    column(1/2)

p.intro__go
    text-align center

.go-btn
    color brand
    text-decoration none
    border none
    padding 15px
    line-height 1
    font-size 32px
    font-family font-special
    display inline-block
    margin-top 15px
