.city
  border-style dotted
  width 30%
  margin-top 10%
  background-color white
  &__content
    width 60%
    margin auto
    &__name
      font-family font-special
      color tomato
      text-transform uppercase
      font-size 16px
      letter-spacing 1px
      margin 0
      line-height 1
      text-align center
    &__desc
      font-family font-special
      text-align center
