.planner

    padding 20px
    margin-top 50px

    &__add-city

        &__input
            align(horizontal)
            margin-top 20px

            & > input
                padding 10px
                border none
                font-family font-brand
                line-height 1.5
                font-size 14px
                width 200px
                height 18px
                margin-right 10px

            & > button
                border none
                padding 9px
                padding-bottom 10px
                background brand
                margin 0
                color white
                transition all 0.25s ease
                cursor pointer
                font-size 14px
                line-height 1.4
                font-family font-brand
                margin-right 10px

                i
                    font-size 16px
                    vertical-align top
                    line-height 18px

                &:hover
                    background lighten(brand, 33%)


.planner-cities
    overflow hidden
    width 100%
    margin-bottom 66px

.roadtrip-city
    //margin-top 20px
    padding 0
    float left
    transition all 0.5s ease
    z-index 1
    width 100%
    //column(1, cycle: 1)

    @media screen and (min-width: 960px)
        span(1/4, cycle: 4)

    &:last-child &__transition
        display none

    &__content
        background white
        transition all 0.25s ease
        position relative

        length = length(colors) - 1

        for num in (0..length)
            &.color-{num} &__title
                background colors[num]

        @media screen and (min-width: 960px)
            span(3/4)

        &__close
            position absolute
            right 10px
            top 10px
            color white
            cursor pointer
            z-index 9999

        &__title
            font-family font-special
            color white
            font-weight 400
            font-size 32px
            text-align center
            position relative

            .increment
                position absolute
                right 10px
                bottom 10px
                color white
                cursor pointer
                height 24px
                line-height 24px

            .decrement
                position absolute
                left 10px
                bottom 10px
                color white
                cursor pointer
                height 24px
                line-height 24px

            & > span
                display block
                color rgba(white, 0.8)
                padding-top 20px
            & > div span
                font-family font-brand
                font-size 16px
                line-height 24px
                padding-bottom 10px
                display inline-block
                font-weight bold

        &__content
            box-sizing border-box
            padding 20px
            .activities
                font-weight bold
                color black
            .activity
                transition all 0.25s ease
                color black
            &__add-activity
                margin-top 10px
                position relative
                transition all 0.5s ease
                background red
                &__icon
                    display block
                    cursor pointer
                    vertical-align middle
                    color rgba(black, 0.4)
                    background darken(white, 10%)
                    padding 4px
                    text-align center
                    margin 0
                    position absolute
                    &:hover
                      background darken(white, 30%)
                &__input
                    padding 8px
                    padding-left 40px
                    box-sizing border-box
                    height 32px
                    border none
                    font-family font-brand
                    line-height 32px
                    display block
                    font-size 14px
                    width 100%
                    outline none
            &__remove-activity
                &__icon
                    display block
                    cursor pointer
                    vertical-align middle
                    color rgba(black, 0.4)
                    padding 4px
                    text-align center
                    margin 0
                    margin-right 6px
                    &:hover
                      color rgba(black, 0.8)
                      background darken(white, 10%)
    &__transition
        position relative
        height 107px
        background rgba(white, 0)

        @media screen and (min-width: 960px)
            span(1/4)

        &__time
            font-family font-special
            background rgba(white, 0)
            width 100%
            color white
            text-align center
            font-size 18px
            align()
            padding 20px
            & > span
                display block
                i
                    font-size 24px
    &__location
      font-family sans-serif
      font-size 10px
