.timeline
    position absolute
    bottom 0
    display flex
    flex-direction row
    width 100%

    .color-0, .color-1, .color-2
        &:hover
            cursor pointer
            span.day
                color white
            span.month
                color darken(white, 10%)

    .color-0
        border-bottom 10px solid #C42E8F !important

        &:hover
            background rgba(#C42E8F, 0.5)

    .color-1
        border-bottom 10px solid #5AB433 !important

        &:hover
            background rgba(#5AB433, 0.5)

    .color-2
        border-bottom 10px solid #2B6485 !important

        &:hover
            background rgba(#2B6485, 0.5)

    &__date
        font-family font-brand
        line-height 1
        padding 10px
        flex 1
        transition all 0.25s ease
        background rgba(white, 0.75)
        border-bottom 10px solid darken(white, 20%)

        &:nth-child(even)
            background white
            border-bottom 10px solid darken(white, 10%)

        span.day
            color tomato
            display block
            font-size 22px
            text-align center
            line-height 22px

        span.month
            color lighten(black, 30%)
            font-size 14px
            text-align center
            display block
            text-transform uppercase
            line-height 14px
