.datepicker
    width auto
    display block
    box-shadow 0 0 20px darken(brand, 50%)
    width 250px

    &__selected
        background lighten(brand, 66%)
        color black
        text-align center
        font-family font-brand
        padding 20px 5px
        font-size 24px
        cursor pointer

    &__calendar
        background white

        .calendar__heading
            background brand
            text-align center
            padding 10px
            color white
            font-size 20px
            font-family font-special
            position relative

            & > *
                display inline-block

            button
                background white
                border none
                padding 0 10px
                font-size 22px
                cursor pointer
                align(vertical)

                &:hover
                    background darken(white, 10%)

                &:first-child
                    left 10px

                &:last-child
                    right 10px

        .calendar__weekdays
            display flex
            flex-direction row

        .calendar__weekday
            flex 1
            padding 10px 0
            text-align center
            background lighten(brand, 20%)
            color white

        .calendar__days
            display flex
            flex-direction row
            flex-wrap wrap

        .calendar__day
            flex 1
            padding 17px
            position relative
            cursor pointer
            color black
            transition all 0.1s ease

            &:hover
                background lighten(brand, 20%)
                color white

            &--shade
                background darken(white, 10%)

            &--today
                background orange
                color white

            &--selected
                background brand
                color white

            span
                position absolute
                align()
/*
.ui-datepicker .md-icon
    flex: 0 0 auto;
    margin-right: 8px;
    width: 18px;
    height: 18px;


  %cell {
    flex: 0 0 auto;
    width: 30px;
    text-align: center;
    padding: 8px 0;
  }


.ui-datepicker {
    position: relative;

    &:focus {
      outline: none;
    }
  }

  .ui-datepicker-input {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 8px;

    //@include typeography-style('menu');

    .selected {
      flex: 0 0 85px;
    }
  }

  .ui-datepicker-calendar {
    position: absolute;
    top: 100%;
    left: 0;

    display: inline-flex;
    flex-direction: column;
    padding: 8px;
    background-color: colour('white');
    color: colour-rgba('black', .84);

    //@include typeography-style('caption');
    //@include z-index('dropdown');
    //@include z-depth(1);

    .heading {
      display: flex;
      flex-direction: row;
    }

    .currentMonth {
      flex: 1;
      text-align: center;
    }

    .calendar {
      display: inline-flex;
      flex-direction: column;
      width: 210px;
    }

    .weekdays,
    .days {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .day {
      height: 30px;

      //@extend %cell;

      &.isToday {
        font-weight: bolder;
      }

      &.isSelected {
        background-color: colour-rgba('black', .14);
      }

      &.isPadding {
        color : colour-rgba('black', .34);
      }

      &:hover {
        cursor: pointer;
        border-bottom: 5px solid colour-rgba('y', .54);
      }

    }

    .weekday {
      //@extend %cell;
    }

  }
*/
