.roadtrip-city
    width 300px
    height 200px
    &__content
      background brand
      float left
      display inline
      height 100%
      span(2/3)
    &__transition
      position relative
      background yellow
      float left
      height 100%
      span(1/3)
      &__icon
        row(1/7)
      &__placeholder
        row(3/7)

.add-activity
  bottom 0
  display inline
